/* ProductItem.css */



.product__image {
    max-width: 50px; 
    height: auto;
    border-radius: 5px;
}

.product__title a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.product__title a:hover {
    text-decoration: underline;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    padding: 20px 60px;
    text-align: left;
    // border-bottom: 1px solid rgb(0, 60, 255);
    background-color: #90b5ff;
}

th {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}
  
