.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.product-image-section {
  max-height: 500px;
  padding: 30px 60px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  border-radius: 10px;
}

.product-info-section {
  flex: 1 1 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .product-image-section {
    flex: 1 1 40%;
  }

  .product-info-section {
    flex: 1 1 60%;
  }
}

.product-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-sale-badge {
  background-color: #FDE0E9;
  color: #F74B81;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  max-width: 80px;
}

.product-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;

  color: #253D4E;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.product-star {
  color: #ffa500 !important; 
  font-size: 20px;
}

.product-reviews {
  margin-left: 5px;
  color: #555;
}

.product-pricing {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.product-price {
  font-size:58px;
  color: #3BB77E;
  font-weight: 700;
  margin-right: 10px;
  line-height: 58px;
}

.product-original-price {
  font-size: 20px;
  color: #888;
  text-decoration: line-through;
}

.product-description-text {
  margin: 20px 0;
  color: #555;
}

.product-size-selection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.product-size-label {
  margin-right: 10px;
  color: #333;
}

.product-size-button {
  margin: 5px 10px 5px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-size-button.selected {
  background-color: #3BB77E;
  color: #fff;
}

.product-size-button:hover {
  background-color: #e0e0e0;
}

.product-controls {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.quantity-input {
  border: 2px solid #3BB77E;
  width: 60px;
  padding: 10px;
  margin-right: 20px;
  text-align: center;
  border-radius: 5px;
}

.add-to-cart-button,
.wishlist-button {
  background-color: #3BB77E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.add-to-cart-button:hover {
  background-color: #2e8c00;
}

.wishlist-button {
  background-color: #ff6666;
  margin-left: 10px;
}

.wishlist-button:hover {
  background-color: #e65c5c;
}

.product-meta {
  margin-top: 20px;
  color: #555;
}

.product-meta p {
  margin: 5px 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .add-to-cart-button,
  .wishlist-button {
    margin-top: 0;
  }
}

span {
  color: #3BB77E;
}

.product-details {
  padding: 20px;
  background-color: #fff;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tab-button {
  border-radius: 23px;
  padding: 10px 40px;
  margin: 5px;
  background-color: transparent;
  border: 1px solid #ECECEC;
  cursor: pointer;
  text-align: center;
  color: gray;
  transition: 0.3s;
  font-weight: bold;
}


.tab-button:hover {
  color: #67e2a9;
}

.content-section {
  margin-top: 20px;
  border: 1px solid #ECECEC;
  padding: 40px;
  border-radius: 10px;
}

.content-section p,
.content-section ul {
  margin-bottom: 20px;
  color: #7E7E7E;
  line-height: 1.6;
}

.content-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.content-section h3 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  color: #253D4E;
  line-height: 28.8px;
}

@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
  }

  .tab-button {
    flex: none;
    max-width: 180px;
    // margin: 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px auto;
    width: 100%;
  }

  .content-section ul {
    padding-left: 40px;
  }
}